{% extends "base.html" %}
{% block title %}Board{% endblock %}

{% block page_content %}
    <h3>{{ board.name }}</h3>
    <div>
        {% for list in board.lists %}
            <div>
                <h2>{{ list.name }}</h2>
                {% for task in list.tasks %}
                    <div>
                        <h3>{{ task.name }}</h3>
                    </div>
                {% endfor %}
                <button type="button">Add a task</button>
            </div>
        {% endfor %}
        <div>
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset>
                    <legend>Add a new list</legend>
                    <div>
                        {{ form.name.label() }}
                        {{ form.name }}
                    </div>
                </fieldset>
                <div>
                    {{ form.submit() }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}