{% extends "base.html" %}
{% block title %}Log n{% endblock %}

{% block page_content %}
<div class="container col-md-4 col-md-offset-4">
    <form method="POST" action="">
       {{ form.hidden_tag() }}
        <fieldset>
            <h2>Login</h2>
            <p>Log in to our task manager:</p>
            <div class="form-group">
                {{ form.email.label() }}
                {% if form.email.errors %}
                    {{ form.email(class='is-invalid') }}
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %} 
                {% else %}
                    {{ form.email(class='form-control') }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.password.label() }}
                {% if form.password.errors %}
                    {{ form.password(class='is-invalid') }}
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %} 
                {% else %}
                    {{ form.password(class='form-control') }}
                {% endif %}
            </div class="form-group">
            <div class="form-group">
                {{ form.remember() }}
                {{ form.remember.label() }}
            </div>
            <div class="form-group">
                <small>
                    <a href="#">Forgot Password?</a>
                </small>
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class='btn btn-primary btn-md float-left form-control') }}
        </div>
    </form>
</div>
<div class="container col-md-4 col-md-offset-4">
    <small>
        Need an account? <a href="{{ url_for('register') }}">Sign Up Now</a>
    </small>
</div>
{% endblock %}