{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block page_content %}
<div class="container col-md-4 col-md-offset-4">
    <form method="POST" action="">
       {{ form.hidden_tag() }}
       <fieldset>
            <h2>Join to task manager</h2>
            <p>Create your account to register in our task manager:</p>
            <div class="form-group">
                {{ form.username.label() }}
                {% if form.username.errors %}
                    {{ form.username(class='is-invalid') }}
                    {% for error in form.username.errors %}
                        <span>{{ error }}</span>
                    {% endfor %} 
                {% else %}
                    {{ form.username(class='form-control') }}
                {% endif %}
            </div class="form-group">
            <div class="form-group">
                {{ form.email.label() }}
                {% if form.email.errors %}
                    {{ form.email(class='is-invalid') }}
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %} 
                {% else %}
                    {{ form.email(class='form-control') }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.password.label() }}
                {% if form.password.errors %}
                    {{ form.password(class='is-invalid') }}
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %} 
                {% else %}
                    {{ form.password(class='form-control') }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.confirm_password.label() }}
                {% if form.confirm_password.errors %}
                    {{ form.confirm_password(class='is-invalid') }}
                    {% for error in form.confirm_password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %} 
                {% else %}
                    {{ form.confirm_password(class='form-control') }}
                {% endif %}
            </div>
       </fieldset>
       <div class="form-group">
           {{ form.submit(class='btn btn-primary btn-md float-left form-control') }}
       </div>
    </form>
</div>
<div class="container col-md-4 col-md-offset-4">
    <small>
        Already have an account? <a href="{{ url_for('login') }}">Sign In</a>
    </small>
</div>
{% endblock %}